{% extends "master-page.html"%}

{%block nav-bar%}
    {% include '../includes/nav-bar.html'%}
{%endblock%}

{%block left-menu%}
    {% include '../includes/left-menu.html'%}
{%endblock%}

{%block content %}
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page" style="padding: 0px;">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="app-brand demo" >
                        <div class="card" style="width: 100%;">
                            <h3 class="card-header" style="color: #696cff">Giá vàng hôm nay</h3>
                            <div class="table-responsive text-nowrap">
                            <table class="table" >
                                <thead class="table-light">
                                <tr>
                                    <th>Loại vàng</th>
                                    <th>Bán ra</th>
                                    <th>Mua vào</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0" >
                                    {% for gold in items_gold %}
                                        <tr>
                                            <td>{{gold.type}}</td>
                                            <td>{{gold.buy}}</td>
                                            <td>{{gold.sell}}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block footer%}
    {% include '../includes/footer.html'%}
{%endblock%}